#map_canvas {
	width: 640px;
	height: 480px;
	margin:0px auto;
}

.map_popup {
	width: 300px;
	font-family: arial, sans-serif;
	color: #000000;
	font-size: 12px;
	text-align:left;
}

.map_popup img {
 	margin-top: 25px;
	float: right;
}

.map_popup a:link, .map_popup a:hover, .map_popup a:visited, .map_popup a:active {
	color: #512483;
	text-decoration: underline;
}

#map_popup_header {
	color: #512483;
	font-size: 14px;
	font-weight: bold;
}


#map_container{
background:#fff;
padding:10px 0;
}


